@layer components {
    .icon-button {
        @apply w-6 h-6 text-white;
    }

    .controls-storyteller {
        @apply absolute left-0 top-0 h-screen z-50 flex flex-col items-center gap-10;
    }

    .controls-right {
        @apply absolute right-0 top-2 h-screen z-50 flex flex-col items-center;

        .help-menu {
            @apply absolute right-0 mr-2 py-2 w-40 bg-discord rounded-lg shadow-lg z-50 select-none;

            > h2 {
                @apply text-lg font-bold text-center w-full;
            }

            > button {
                @apply w-full px-4 py-2 text-white hover:bg-gray-700 rounded-t-lg transition-colors text-left flex justify-between items-center cursor-pointer;

                span:last-child {
                    @apply text-gray-400;
                }
            }
        }
    }

    .controls-center {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 pointer-events-none;
    }

    .controls-top {
        @apply absolute top-2 left-20;
    }

    .controls-bottom {
        @apply absolute bottom-8 right-8 pointer-events-none flex flex-col gap-2 items-end;
    }

    .script-label {
        @apply bg-black/50 backdrop-blur-sm p-3 rounded-lg pointer-events-auto select-none text-sm;
    }

    .story-teller-label {
        @apply gap-1 items-center text-sm inline-block ml-1 select-none text-gray-400;

        > svg {
            @apply inline-block w-4 h-4;
        }
    }

    .clock-container {
        position: relative;
        width: var(--clock-size, 75vmin);
        height: var(--clock-size, 75vmin);

        .countdown {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            align-items: center;
            justify-content: center;
            pointer-events: none;
            font-size: 8em;
            font-weight: bold;
        }
    }

    .clock-big,
    .clock-small {
        @apply object-contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(var(--clock-rotation, 0deg));
        transform-origin: center center;
        transition-duration: var(--clock-transition-duration, 2000ms);
        transition-property: transform;
        transition-timing-function: ease-in-out;
        width: var(--clock-size, 75vmin);
        height: var(--clock-size, 75vmin);
    }
}