@layer components {
    .category-header {
        @apply w-full text-left text-sm font-semibold mb-2 cursor-pointer bg-transparent border-none p-0 hover:underline focus:outline-none focus:ring-0;
    }

    .channel-container {
        @apply relative border border-gray-400 pb-0 pt-0 mt-6 rounded;
    }

    .channel-container-empty {
        @apply relative border border-gray-400 pb-0 pt-0 mt-6 rounded;
    }

    .channel-button {
        @apply absolute -top-3 left-4 bg-discord px-2 text-sm font-semibold text-white!;
    }

    .channel-button:hover {
        @apply bg-forestgreen rounded-2xl;
    }

    .channel-button-enabled {
        @apply cursor-pointer;
    }

    .channel-button-disabled {
        @apply cursor-not-allowed text-gray-500!;
    }

    .channel-occupants {
        @apply mt-2 p-2 pl-4;
    }

    #discord-town-panel {
        @apply max-h-screen overflow-y-auto pl-2;
        scrollbar-gutter: stable;
        direction: rtl;

    }

    #discord-town-panel > * {
        direction: ltr;
    }

    .town-user-status {
        @apply flex flex-row w-1/2;
    }

    .town-user-status > img {
        @apply size-7 rounded-full mr-2;
    }
    
    .town-user-status>p{
        @apply content-center;
    }
}