@import "tailwindcss";
@import '@/components/features/discordTownPanel/discordtownpanel.css';
@import '@/components/features/gameWindow/gamewindow.css';
@import '@/components/ui/ui.css';
:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.btn-default {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

.unstyled-button {
    all: unset;
}

.btn-default:hover {
    border-color: #646cff;
}

.btn-default:focus,
.btn-default:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

.btn-primary {
    @apply bg-[#5865F2] hover:enabled:bg-[#4754b8] text-white font-medium px-4 py-2 m-2 rounded-lg transition-colors duration-200 border-none cursor-pointer disabled:cursor-not-allowed disabled:opacity-20;
}

.btn-secondary {
    @apply bg-gray-600 hover:enabled:bg-gray-700 text-white font-medium px-4 py-2 m-2 rounded-lg transition-colors duration-200 border-none cursor-pointer disabled:cursor-not-allowed disabled:opacity-20;
}

.btn-danger {
    @apply bg-red-600 hover:enabled:bg-red-700 text-white font-medium px-4 py-2 m-2 rounded-lg transition-colors duration-200 border-none cursor-pointer disabled:cursor-not-allowed disabled:opacity-20;
}

.btn-outline {
    @apply bg-transparent hover:enabled:bg-[#5865F2] text-[#5865F2] hover:enabled:text-white font-medium px-4 py-2 m-2 rounded-lg transition-colors duration-200 border-2 border-[#5865F2] cursor-pointer disabled:cursor-not-allowed disabled:opacity-20;
}

.loading {
    @apply bg-[url('/images/loading.png')] bg-cover bg-center;
}

.error {
    @apply bg-[url('/images/evening-bg.png')] bg-cover bg-center;
}

.main-image {
    object-fit: cover;
}

.logout-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    opacity: 1;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.image-container:hover .logout-icon {
    opacity: 1;
}

.discord-user-avatar {
    @apply border-2 border-discord-icon;
}

@theme {
    --color-discord: #1f2936;
    --color-discord-icon: #76777e;
    --color-discord-warning: #c6383d;
    --color-forestgreen: #4d8e53;
}

