@import "tailwindcss";
@import '@/components/components.css';

:root {
    @apply font-sans leading-normal font-normal;
    @apply scheme-dark bg-[#242424];
    @apply antialiased;
}

.unstyled-button {
    all: unset;
    @apply select-none;
}

.btn-primary {
    @apply bg-discord-primary hover:bg-discord-primary/70 text-white font-medium px-4 py-2 m-2 rounded-lg transition-colors duration-200 border-none cursor-pointer disabled:cursor-not-allowed disabled:opacity-20 select-none;
}

.btn-secondary {
    @apply bg-discord-secondary hover:enabled:bg-discord-secondary/70 text-white font-medium px-4 py-2 m-2 rounded-lg transition-colors duration-200 border-none cursor-pointer disabled:cursor-not-allowed disabled:opacity-20 select-none;
}

.btn-danger {
    @apply bg-discord-warning hover:bg-discord-warning/70 text-white font-medium px-4 py-2 m-2 rounded-lg transition-colors duration-200 border-none cursor-pointer disabled:cursor-not-allowed disabled:opacity-20 select-none;
}

.btn-outline {
    @apply bg-transparent hover:bg-discord-primary text-discord-primary hover:enabled:text-white font-medium px-4 py-2 m-2 rounded-lg transition-colors duration-200 border-2 border-discord-primary cursor-pointer disabled:cursor-not-allowed disabled:opacity-20 select-none;
}

.loading {
    @apply bg-[url('/images/loading.png')] bg-cover bg-center;
}

.error {
    @apply bg-[url('/images/evening-bg.png')] bg-cover bg-center;
}

.main-image {
    object-fit: cover;
}

.error-text {
    @apply text-red-500 text-sm;
}


@theme {
    --color-discord: #1f2936;
    --color-discord-primary: #5c68ee;
    --color-discord-secondary: #36363b;
    --color-discord-warning: #c6383d;
    --color-discord-icon: #76777e;
    --color-forestgreen: #4d8e53;
}

