name: Deploy to Firebase Hosting
on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      environment:
        description: 'Deployment target'
        required: true
        default: 'preview'
        type: choice
        options:
          - preview
          - live
permissions:
  checks: write
  contents: read
  pull-requests: write

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: npm ci && npm run build
        working-directory: ./Clocktower-UI
        env:
          VITE_CLOCKTOWER_SERVER_URI: ${{ vars.CLOCKTOWER_SERVER_URI }}

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_AMARANTOSCLOCKTOWER }}
          channelId: ${{ github.event_name == 'push' && 'live' || '' }}
          projectId: amarantosclocktower
          entryPoint: ./Clocktower-UI
        if: ${{ github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository }}
